[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "themes/hugo-theme-chunky-poster"]
	path = themes/hugo-theme-chunky-poster
	url = https://github.com/puresyntax71/hugo-theme-chunky-poster.git
