{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    {{ $page := . }}
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="content">
                            <p>ecoClimate is a project to pre-process and make available the climatic layers
                                from the PMIP3 – CMIP5 projects for macroecologists and biogeographers.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <img class="col-lg-12" src="/img/ecoclimate-background-map-2.jpg" alt="">
                    <div class="col-lg-12">
                        {{ partial "sharer.html" . }}
                    </div>

                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}
